*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    position: sticky;
    width: 100%;
    background-color: #5c4b99;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #5c4b99;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 140px;
    padding: 0;
}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

.intro {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.intro h2 {
    font-size: 2em;
    color: #5c4b99;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.6;
}

.visualizations-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.visualization-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 45%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.visualization-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.visualization-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.visualization-item h3 {
    font-size: 1.5em;
    color: #5c4b99;
    margin-bottom: 10px;
}

.visualization-item p {
    font-size: 1em;
    line-height: 1.4;
    color: #666;
}