body {
  margin: 0px;
  overflow: hidden;
}

/* defining the fill of the sphere */
.sphere {
  fill: #3aa2e8;
}

/* defining the fill of the country class */
.country {
  fill: green;
  stroke: black;
  stroke-opacity: 0.4;
}

/* defining the hover selector in country class to highlight the countries */
.country:hover {
  fill : #BA4A00;
}